@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap");
.customfooter {
  padding: 2%;
}
.custom-cover-head {
  text-shadow: 1px 1px #1d3557;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-attachment: fixed;
  overflow-x: hidden !important;
}
.cover{margin-top: 0px;}

.feature_card {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}
.feature_card:hover {
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
}
.feature_story {
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
  text-align: center;
}
.story_heading {
  font-size: 50px;
}
.feature-all {
  background-image: url(https://images.unsplash.com/photo-1550305080-4e029753abcf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 660px) {
  .feature-all {
    height: 320px;
  }
}
.share_conflict {
  margin-right: 0;
  margin: 0 0 0 0;
  background-image: url(images/share.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  padding: 0;
}
.joinus {
  background: #fff;
  background-image: url(images/himanshusir.jpeg);
}
.quote_content {
  font-family: "Poppins", sans-serif;
  font-size: 5vw;
  color: white;
  text-shadow: 1px 1px #1d3557;
  /*background-color: tomato;*/
}
h1 {
  margin-top: 0px;
}

@import url(https://fonts.googleapis.com/css?family=Open + Sans:600);
.joinus {
  color: #cecece;
  background: #222;
}

.coverimg {
  background-image: url(images/img3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh !important;
  background-attachment: fixed;
  color: white;
  opacity: 0.94;
  background-color: #4ea8de;
  padding: 19%;
  justify-content: center;
}
@media only screen and (max-width: 1024px) {
  .cover-content {
    margin-top: 70% !important;
  }
}
@media only screen and (max-width: 767px) {
  .coverimg {
    background-image: url(images/img3.jpg);
  }
  .cover-content {
    margin-top: 45% !important;
  }
}
.custom {
  background-color: antiquewhite;
}
.cover-content {
  margin-top: 5%;
}
.stripe {
  background-color: #1d3557;
  padding: 0.5%;
  color: white;
}
.mentorimage {
  background-image: url(https://repl.it/@Vinam1086/new#himanshusir.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-color: #4ea8de;
}
.designation {
  background-color: black;
  color: white;
  margin-top: 80%;
  opacity: 0.5;
}
.description {
  color: white;
  background-color: #1d3557;
 
  
}
.description-content {
  margin-top: auto 0;
  padding: 10%;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Poppins:400,500,600,700");
.contact {
  padding: 0px 0px 0px;
  position: relative;
}
.contact-content {
  background-color: #1d3557;
  padding: 4%;
}
.contact .info-box {
  background: #fff;
  margin-bottom: 30px;
  padding: 30px 30px 22px;
  position: relative;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.08);
}
.contact .title {
  text-align: center;
}

.contact p {
  text-align: center;
}
.contact .info-box .left {
  margin-bottom: 25px;
}
.contact .info-box .left .icon {
  font-size: 30px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  display: inline-block;
  position: relative;
}
.contact .info-box .left .icon::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px dashed #0250c5;
  animation: shapeani2 10s linear infinite;
}
.contact .info-box .left .icon i {
  background-image: linear-gradient(55deg, #0250c5 0%, #d43f8d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact .info-box .right {
  text-align: center;
}
.contact .info-box .right .content p {
  margin-bottom: 0px;
}
.contact .info-box:hover .left .icon::after {
  border: 1px dashed #d43f8d;
}
@keyframes shapeani2 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.section-title h2 {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #333;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  text-align: center;
  padding-bottom: 30px;
  color: #333;
}

#footer {
  background-color: #333;
  color: #fff;
}
#footer p {
  margin: 0;
  font-size: 1.2rem;
  padding-bottom: 5px;
}
.footer-icons a {
  font-size: 2rem;
}

#footer a {
  color: #fff;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

.marquee {
  width: auto;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  color: #000000;
  background-color: #ffffff;
  font-weight: bold;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  will-change: transform;
  animation: marquee 20s linear infinite;
}

.marquee span:hover {
  animation-play-state: paused
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@media (prefers-reduced-motion: reduce) {
  .marquee { 
    white-space: normal 
  }
  .marquee span {
    animation: none;
    padding-left: 0;
  }
}

.close-button {
  border: none;
  display: inline-block;
  padding: 4px 8px;
  overflow: hidden;
  vertical-align: top;
  text-decoration: none;
  color: inherit;
  font-size: 30px;
  background-color: transparent;
  text-align: right;
  cursor: pointer;
  white-space: nowrap;
  overflow: auto;
}

.topright {
  position: absolute;
  right: 0;
  top: 0;
}
@media (min-width:320px) and (max-width:425px){
  .description {
    font-size: 15px;
  }
  
 .display-4{
   font-size: 1.5rem;
    font-weight: 100;
    line-height: 1;
    
 }
   html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  .cover{
    height:100vh;
    width: 100%;
    margin-top: -46px;
  }
  .cover .coverimg {
    padding-top:0px; 
  }
  .h1{
    padding-top: 80px;
  }
  .cover .coverimg .container .row{
    vertical-align: middle;
    height: 3px;
    margin: 8px;
  }
  .cover .coverimg .container .row a strong{
    font-size: 10px;
  }
  .cover .coverimg .container .h1{
    font-size: 22px;
  }
   .cover .coverimg .container .lead{
    font-size: 13px;
  }
  .mentor .container-fluid .mentorimage .designation{
    margin-top: 52%;
  }
  .mentor .container-fluid .mentorimage .designation p{
    font-size: 12px;
  }

}
@media(min-width: 375px) and (max-width: 424px){
    .cover{
    height:100vh;
    width: 100%;
    margin-top: -62px;
  }
  .cover .coverimg {
    padding-top:0px; 
  }
  .h1{
    padding-top: 50px;
  }
}
@media(min-width: 425px) and (max-width:767px ){
    .cover{
    height:100vh;
    width: 100%;
    margin-top: -75px;
  }
  .cover .coverimg {
    padding-top:0px; 
  }
  .h1{
    padding-top: 50px;
  }
}
@media (min-width:768px) and (max-width:1023px){
  .h1{
    padding-top: 50px;
  }
    .cover{
    width: 100%;
    margin-top: -290px;
  }
  .cover .coverimg{
    padding-top: 0px;
  }
   .mentor .container-fluid .mentorimage .designation{
    margin-top: 210%;
  }

}
@media (min-width:1024px) and (max-width:1300px){
   .cover .coverimg{
    padding-top: 0px;
  }
  .cover{
    width: 100%;
    margin-top: -400px;
  }
  .h1{
    padding-top: 50px;
  }
   .mentor .container-fluid .mentorimage .designation{
    margin-top: 132%;
  }
}
